* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background-color: #E8E9EB;
    max-width: 1024px;
    margin: auto;
}

/***** HEADER *****/

#header {
	background-color: #ff9d00;
	height: 7em;
}

#titolone {
	padding: 1em;
	float: left;
	margin: 0em auto;
}

#titolone h1 {
	font-size: 3em;
	margin: 0em auto;
}

#titolone h2 {
	font-size: 1em;
}

#usr_zone {
	float: right;
	padding: 2em;
}

#name_log {
	text-align: right;
	float: left;
}

#utente {
	font-size: 1.2em;
}

#utente a {
	color: black;
}

#logout {
	font-size: 0.8em;
}

#logout a {
	color: red;
}

#usr_zone img {
	width: 3em;
	border-radius: 50%;
    margin: 0 0.5em 0 0.5em;
	float: right;
}

/***** MACRO CONTENUTO - SEZIONE PROPOSTE *****/


#menubar {
	background-color: #ff7300;
	padding: 0.65em 0;
}

#menubar li {
	display: inline;
	padding: 0.5em 3.5em;
	font-size: 1.3em;
	font-weight: bold;	
}

#menubar li img {
	padding-left: 0.5em;
	position: absolute;	
}

#menubar li a {
	color: white;
}

#main_proposte {
	background-color: #ff5a00;
}

#strumenti {
	background-color: #ff5a00;
	padding: 1em;
	height: 3em;
	text-align: center;
	
}

#new_prop {
	padding: 0.8em;
	margin-left: 1em;
	float: left;
	border-radius: 1em;
	background-color: #00bd00;
	font-weight: bold;
	font-size: 0.8em;
}

#ricerca {
	display: inline;
	margin: 0.8em;
	background-color: #ff5a00;
}

#cerca {
	height: 2.2em ;
	width: 20em;
	padding-left: 0.5em;
}

#lente {
	padding: 0.5em;
}

#ordina {
	float: right;
	padding: 0.3em 1em 0 0;
}

#filtro {
	background-color: #ff5a00;
	float: left;
	padding: 1em;
}

#filtro p {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1em 0;
}

#filtro label {
	font-size: 0.8em;
	color: white;
}

#action {
	padding-top: 0.5em;
}

#action button {
	padding: 0.3em;
	border-radius: 0.5em;
	font-size: 0.7em;
}

#submit {
	float: left;
}

#reset {
	float: right;
}

#card_lavoro {
	background-color: white;
	padding: 1em 0 1em 10em;
	margin: 0.5em 0 0.5em 0;
}

#card_lavoro h3 {
	color: #ff5a00;
	padding-left: 2em;
	font-size: 2em;
}

#card_lavoro img {
	width: 3em;
	border-radius: 50%;
    margin: 0 0.5em 0 0.5em;
	float: left;
}

#informazioni_p {
	padding-left: 6em;
	font-size: 0.9em;	
}

#skill_relative {
	float: right;
	padding-right: 4em;
}

#skill_relative li{
	display: inline;
	padding: 0.3em 1em;
	background-color: #aa9eff;
	border-radius: 0.5em;
}
	

/***** FOOTER *****/

#footer {
	background-color: #ff9d00;
	clear: left;
	text-align: center;
	font-style: italic;
	padding-top: 0.25em;
	color: #fff;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}