* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

html {
    background-image: url("../img/background.jpg");
}

.bolded {
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
    margin: 0 10%;
    min-height: 100vh;
    height: auto;
}

#titolone {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;  
}

#titolone h1 {
    display: inline-block;
}

#titolone img {
    height: 1.7em;
}

#breadcrumb {
    background-color: rgb(28, 28, 124);
    color: white;
    padding: 1em;
    padding-left: 2em;
}

#breadcrumb a {
    color: white;
}

#contenuto {
    margin: 2em;
    margin-left: 15em;
}



/****** menu ******/

.box {
    margin: 0.5em;
    padding: 1em;
    background-color: rgb(36, 42, 44);   
    font-weight: bold;
    color: yellow;
    border-radius: 1em;
    
}

#usr_zone {
    margin-top: 1em;    
}

#navigator {
    float: left;
    padding: 1em 0 0 1em;
    width: 13em;
}

#navigator a:link {
    color: whitesmoke;
}

#navigator a:visited {
    color: rgb(252, 213, 255);
}

#menubox ul {
    list-style-type: none;
    padding-top: 0.5em;
}

#menubox li {
    padding: 0.3em 0;
}

#menubox p {
    font-size: 1.5em;
    text-align: center;
    color: yellow;
}


/***** elenchi autori e categorie ****/

.titolo_sezione {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(1, 90, 20);
    padding: 0 0 0.5em 0.5em;
}


.elenco ul {
    padding-top: 1em;
    text-align: center;
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
}

.elenco li {
    padding: 0.3em;
}

.elenco a:link {
    color: black;
}

.elenco a:visited {
    color:rgb(124, 0, 124);
}

/***** ricerca ****/

.ricerca {
    text-align: center;
    padding-top: 2em;
}

.legend_cerca {
   padding-left: 3em;
   text-align: center;
}

.banner_cerca {
    padding: 0.7em 1em;
    border-radius: 1em;
    width: 15em;
    border-style:solid;
    border-color: black;
    border-width: 0.1em;
}

.no_results {
    text-align: center;
    font-size: 1.5em;
}

.go_back {
    padding: 0.5em 1em;
    background-color: steelblue;
    color: whitesmoke;
    font-weight: bold;
}


/***** login e registrazione ****/

#registrazione_e_login {
    padding-bottom: 3em;
}

.fieldset_form legend {
    font-size: 1.5em;
    font-weight: bold;
}

#remember {
    font-size: 0.9em;
}

.fieldset_form p {
    font-size: 0.8em;
}

.fieldset_form ul {
    padding-top: 1em;
    list-style-type: none;
}

.fieldset_form li {
    padding: 0.5em 0; 
}

.input_field {
    border-style:solid;
    border-color: black;
    border-width: 0.1em;
    padding: 0.2em 0.5em;
}

.submit_button {
    background-color: rgb(228, 24, 150);
    padding: 0.7em 1em;
    margin: 1em 0;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1em;
}

.big_text {
    width: 95%;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8em;
    border-style:solid;
    border-color: black;
    border-width: 0.1em;
}

#registrazione_foto_opera {
    margin-top: 0.5em;
}

#registrazione_anno {
    width: 7em;
}

/*****opere******/

.carte {
    display: inline-block;
    padding: 1em;
}

.carte img {
    max-height: 10em;
    max-width: 15em;
}

.dati_opera {
    font-size: 0.7em;
}

.bigopera {
    width: 100%;
    padding-bottom: 1em;
}

#profilo_dati {
    list-style-type: none;
    padding-bottom: 2em;
}

#profilo_dati li {
    padding-top: 0.4em;
}

#button_elimina {
    background-color: rgb(167, 0, 25);
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
}

#button_segnala_opera {
    background-color: rgb(167, 0, 25);
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
}

/**** autore ****/

#opere {
    padding-top: 2em;
}

#autore p {
    padding-left: 1em;
    text-align: left;
}

#dati_autore p {
    padding-bottom: 0.5em;
}

#usr_zone a {
    color: white;
}

#usr_zone li span {
    font-size: 0.9em;
}

#loggati {
    font-size: 0.9em;
}

#usr_zone ul {
    list-style-type: none;
}

#usr_zone li {
    padding-bottom: 0.3em;
}

#nome_utente {
    font-size: 1em;
}

#logout {
    font-size: 0.8em;
}

.buttons_panel {
    font-size: 0.9em;
    margin: 1em 0 2.5em 0.9em;
}

.buttons_panel div {
    display: inline-block;
    margin: 1em 0;
}

.buttons_panel a {
    margin-right: 0.6em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1em;
    padding: 0.6em 1em;
}


#add_opera_button {
    background-color: rgb(37, 110, 69);   
}

#button_elimina_profilo {
    background-color: rgb(167, 0, 25);
}

#button_mod_profilo {
    background-color: rgb(117, 0, 117);
}

.description_text {
    padding-top: 0.5em;
}


/**** errore ***/

.error {
    color: crimson;
    font-size: 0.9em;
    list-style-type: none;
    margin: 1em 0;
}

.errorjs {
    color: crimson;
}


/**** 404 ****/

#_404error {
    text-align: center;
    margin-bottom: 5em;
}

#_404 {
    font-size: 8em;
    font-weight: bold;
}

#ops{
    font-size: 3em;
    padding-bottom: 1em;
}

#back_button {
    background-color: mediumvioletred;
    padding: 0.5em 1em;
    border-radius: 1em;
}


/***** footer *****/

#footer {
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
    font-size: 0.9em;
}
