* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background-color: #252525;
    margin: auto;
}

/***** header *****/

#header {
	background-color:#ff9100;
	height: 5.5em;
}

#titolone {
	padding: 1em;
	float: left;
	width: auto;
	align-content:center;
}

#titolone img{
	padding-top: 0.3em;
	width: 26em;
}

#breadcrumb {
	background-color: #000000;
	height: 2em;
	padding-top: 0.5em;
}

#breadcrumb a{
	padding: 1.5em;
	font-size: 0.9em;
	color:#eb6105;
}

#head_dx{
	float: right;
	padding: 2em;
}

#info img{
	float: right;
	width: 2em;
	padding-left: 1em;
}

#usr_zone {
	float: left;
}

#name_log {
	text-align: right;
	float: left;
}

#utente {
	font-size: 1.2em;
}

#utente a {
	color: black;
}

#logout {
	font-size: 0.8em;
}

#logout a {
	color: red;
}

#usr_zone img {
	width: 3em;
	border-radius: 50%;
    margin: 0 0.5em 0 0.5em;
	float: right;
}

/***** banner di ricerca *****/

#strumenti {
	background-color: #ff5a00;
	margin: 1.5em;
	border-radius: 0.5em;
}

#proposte p {
	text-align: center;
	padding-top: 1em;
	color: white;
}

#ricerca {
	padding: 1em;
	text-align: center;
}

#button_cerca {
	background-color: transparent;
	margin: 0 1em 0 1em;
}

#button_cerca img {
	width: 2em;
	height: 2em;
}

.banner_cerca{
	border-radius: 1em;
	padding: 0.4em 0 0.5em 0;
	margin: 0 2em 0 2em;
	width: 15em;
	text-align: center;
}



/***** spazio card lavoratori ****/

#elenco_lavoratori{
	margin: 0 10%;
	text-align: center;
}

.carte {
	background-color: #fff;
	margin: 0.5em;
	height: 17.5em;
	width: 13em;
	display: inline-block;
	text-align: left;
}

.carte img {
	width: 13em;
	height: 13em;
}

#info_lavoratore {
	float: left;
	font-size: 0.8em;
	padding: 0.5em;
}

#voto {
	float: right;
	font-size: 2.5em;
	padding: 0.2em;
	color: red;
}

	

/***** footer *****/

#footer {
	background-color: #ff9d00;
	clear: left;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	padding-top: 1em;
	color: #fff;
	height: 2.5em;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}

#footer a img {
	height: 1.5em;
	width: 3.65em;
}