* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background-color: #E8E9EB;
    margin: auto;
}

/***** HEADER *****/

#header {
	background-color:#ff9100;
	height: 6em;
}

#titolone {
	padding: 1em;
	float: left;
	width: auto;
	align-content:center;
}

#titolone h1 {
	font-size: 3em;
	margin: 0em auto;
	color: #ffffff;
	float: left;
}

#titolone img{
	float: right;
	width: 2.5em;
}

#breadcrumb {
	background-color: #252525;
	height: 1.5em;
}

#breadcrumb a{
	margin: 1em 1em 0em 1.8em;
	padding-top: 1em;
	font-size: 0.8em;
	color:#eb6105;
}

#usr_zone {
	float: right;
	padding: 2em;
}

#name_log {
	text-align: right;
	float: left;
}

#utente {
	font-size: 1.2em;
}

#utente a {
	color: black;
}

#logout {
	font-size: 0.8em;
}

#logout a {
	color: red;
}

#usr_zone img {
	width: 3em;
	border-radius: 50%;
    margin: 0 0.5em 0 0.5em;
	float: right;
}

/***** MACRO CONTENUTO - SEZIONE PROPOSTE *****/



#main_proposte {
	background-color: #ff5a00;
}

#strumenti {
	background-color: #ff5a00;
	float: left;	
}


#ricerca {
	
	margin: 1em 1.3em 0em 1.3em;
	background-color: #ff5a00;
	float: left;
}

#cerca {
	height: 2.2em ;
	width: 13em;
	padding-left: 1.5em;
	border-radius: 1em;
}

#lente {
	padding-left: 0.3em;
	height: 1em;
	width: 1em;
	color: cadetblue;
}

#ordina {
	
}

#filtro {
	background-color: #ff5a00;
	padding: 1em;
	margin-top: 3em;
}

#filtro p {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1em 0;
}

#filtro label {
	font-size: 0.8em;
	color: white;
}

#action {
	padding: 2em 1em;
}

#action button {
	padding: 0.3em;
	border-radius: 0.5em;
	font-size: 0.7em;
}

#submit {
	float: left;
}

#reset {
	float: right;
}

	

/***** FOOTER *****/

#footer {
	background-color: #ff9d00;
	clear: left;
	text-align: center;
	font-style: italic;
	padding-top: 0.25em;
	color: #fff;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}