html {
    background-image: none;
}

body {
    background-color: #fafafa;
    margin: 0;
}

#titolone {
    padding: 1em;
    font-size: 1em;
    text-align: center;
}

#breadcrumb {
    padding: 0.6em;
    font-size: 0.8em;
}

.avviso_segnalata {
    width: auto;
}

/***** menu *****/

#navigator {
    float: none;
    text-align: center;
    padding: 0;
    width: auto;
}

#contenuto {
    margin: 1em;
    text-align: center;
}

/***** elenchi autori e categorie ****/

.titolo_sezione {
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

#button_elimina_profilo {
    margin-right: 0;
}

/***** login e registrazione ****/

.fieldset_form p {
    width: 95%;
}

.fieldset_form {
    text-align: left;
}

#registrazione_desc_breve_opera {
    height: 3em;
}


/**** opere ****/

.carte img {
    max-height: 15em;
    max-width: 100%;
}

#descrizione {
    margin: 1em;
}

.description_text {
    text-align: justify;
}

#opera_buttons {
    margin-bottom: 3em;
    padding-right: 0;
    text-align: center;
}

#profilo_dati {
    float: none;
}

#footer {
    margin-left: 0;
}

.buttons_panel {
    padding: 0;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
}

#button_segnala_opera {
    margin-right: 0;
}

#add_opera_button {
    margin-right: 0;
}



/**** admin ***/

#admin {
    margin-bottom: 12em;
}

#admin ul {
    padding: 0;
    text-align: center;
    width: 100%;
}

#admin img {
    display: none;
}

#admin li {
    font-size: 1em;
}
