html {
    background-image: none;
}

body {
    background-color: #fafafa;
    margin: 0;
}

#titolone {
    padding: 1em;
    font-size: 1em;
    text-align: center;
}

#breadcrumb {
    padding: 0.6em;
    font-size: 0.8em;
}

/***** menu *****/

#navigator {
    float: none;
    text-align: center;
    padding: 0;
    width: auto;
}

#contenuto {
    margin: 1em;
    text-align: center;
}

/***** elenchi autori e categorie ****/

.titolo_sezione {
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

/***** login e registrazione ****/

.fieldset_form p {
    width: 95%;
}

.fieldset_form {
    text-align: left;
}

#registrazione_desc_breve_opera {
    height: 3em;
}


/**** opere ****/

.carte img {
    max-height: 15em;
    max-width: 100%;
}

#descrizione {
    margin: 1em;
}

.description_text {
    text-align: justify;
}

#opera_buttons {
    margin-bottom: 3em;
}

#profilo_dati {
    float: none;
}
