<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
  <title>404 Pagina non trovata</title>

  <link rel="stylesheet" type="text/css" href="../css/desktop.css" media="handheld, screen" />
  <link rel="stylesheet" type="text/css" href="../css/desktop.css" media="handheld, screen and (max-width:800px), only screen and (max-device-width:800px)" />
</head>

<body>

<div id="_404error">
    <p id="_404">404</p>
    <img src="../img/404workers.png" alt="immagine di lavoratori all'opera" />
    <p id="ops">Ooops!</p>
    <p>Sembra che il contenuto di questa pagina sia stato spostato oppure non esista.</p>
    <div id="_404buttons">
        <button href="" id="backButton">Torna indietro</button>
        <button href="" id="backHomeButton">Torna alla home</button>
    </div>
</div>

</body>
</html>
